---
import "../styles/styles.css"
import Button from "./Button.astro";
const {header, image, text, buyTicketUrl} = Astro.props;
---

<div class="card-container">
<article class="liveshow">
  <img src={image} alt={header} />
  <h3>{header}</h3>
  <div class="text">
    <p>{text}</p>
    {buyTicketUrl && (
            <a href={buyTicketUrl} target="_blank" rel="noopener noreferrer">
              <Button variant="primary" size="medium">Køb billet</Button>
            </a>)}
  </div>
  <slot />
</article>
</div>



<style>
  .liveshow {
    display: flex; /* Indhold i kortet er fleksibelt */
    flex-direction: column;
    align-items: start;
    border-radius: 10px;
    color: #fffdea;
    box-sizing: border-box;
  }
  .liveshow p {
    width: 80%;
  }

  .liveshow h2 {
    width: 80%;
  }

  .liveshow img {
    width: 176px;
    height: 169px;
    border-radius: 10px;
  }

  
  .text p {
    font-size: 1rem;
    color: #fffdea;
    text-align: left;
  }

  @media (min-width: 768px) {
    .liveshow img {
    width: 383px;
    height: 367px;
    border-radius: 30px;
  }
}
</style>
