---
const { overskrift1, text1, image1, overskrift2, text2, image2 } = Astro.props;
---
<div class="flexbillede">
    <article>
        <img src={image1} alt={image1} />
        <h2>{overskrift1}</h2>
        <p>{text1}</p>
    </article>
    <article>
        <img src={image2} alt={image2} />
        <h2>{overskrift2}</h2>
        <p>{text2}</p>
    </article>
</div>

<style>
.flexbillede {
    display: flex;
    gap: 10px;
}
img {
    max-width: 250px;
    height: auto;
    border-radius: 10px;
}
h2, p {
    color: #fffdea;
    max-width: 65ch;
}
</style>





