---
const { overskrift1, text1, image1, overskrift2, text2, image2 } = Astro.props;
---
<div class="flexbillede">
    <article>
        <img src={image1} alt={image1} />
        <h2>{overskrift1}</h2>
        <p>{text1}</p>
    </article>
    <article>
        <img src={image2} alt={image2} />
        <h2>{overskrift2}</h2>
        <p>{text2}</p>
    </article>
</div>

<style>
.flexbillede {
    display: flex;
    gap: 10px;
    justify-content: center;
}
img {
    max-width: 176px;
    height: auto;
    border-radius: 10px;
}
h2, p {
    color: #fffdea;
    max-width: 65ch;
}
h2{
    font-size: 32px;
}
p{
    font-size: 12px;
    max-width: 30ch;
}
    @media (min-width: 768px) { 
    h2{ font-size: 60px;
    }
    p{ font-size: 24px;
    }
}

</style>





